/* You can add global styles to this file, and also import other style files */


@media (max-width: 500px)
.presentation-title {
    font-size: 4em;
}

.presentation-title {
    font-size: 8em;
    font-weight: 700;
    margin: 0;
    color: #fff;
    background: linear-gradient(180deg,#fff 35%,#4e6773);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}